body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

.right-border-line {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.1);
}

.rzslider.smooth {
  .rz-bar.rz-selection, .rz-pointer {
    transition: all 0.1s;
  }
}

.control-container {
  // min-height: 600px;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // align-items: flex-start;
  max-width: 100%;
}

.control-wrapper {
  margin: 10px;
  padding: 5px;
  // flex-grow: 1;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  height: auto;
}
