<!doctype html>
<html lang="en">

<% include ./partials/header %>

<body>
  <h1>error</h1>

  <pre>

    <% message %> 
    
    <% error.status %> 
    
    <% error.stack %>

  </pre>

</body>

</html>